
        <div class=" bg-gradient-to-r from-cyan-500 to-sky-950  h-full min-h-[93vh] flex justify-center items-center">

            <p class="text-9xl text-white lowercase font-bold">
                <%= data.message %>
            </p>

        </div> 

