<div>
    <p class="text-5xl text-white lowercase font-bold mb-10">
        <%= data.message %>
    </p>
    <div class="rounded-xl drop-shadow-2xl  bg-white p-10">

        <p>
            <%= data.contact.name %>
        </p>
        <p>
            <%= data.contact.email %>
        </p>
        <p>
            <%= data.contact.phone %>
        </p>
    </div>

</div>