<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <style>
        body {
            font-family: 'Georgia', serif;
            background: #2f2f2f;
            color: #f3f3f3;
        }

        .bg-steampunk {
            background: linear-gradient(to right, #2f2f2f, #444);
        }

        .text-steampunk {
            color: #ff9800;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body>
    <%- include('component/header') %>
    <div class="bg-steampunk h-full min-h-[93vh] flex justify-center items-center">
        <p class="text-9xl text-steampunk lowercase font-bold">
            <%= data.message %>
        </p>
    </div>
</body>

</html>
