<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="/css/tailwind.css" />
</head>

<body>
    <%- include('../partials/header') %>
        <div
            class=" bg-gradient-to-r from-cyan-500 to-sky-950  h-full min-h-[93vh] flex justify-center items-center px-20 pt-10">
            
            <main><%- body %></main>

        </div>



</body>

</html>